body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;

}
.Top_section{
    height: 500px;

}
.Skip{
    color: tomato;
}
.htag{
    font-size: 40px;
}
.mydiv{
    width: 40%;
    float: left;
    padding-left: 6%;
    margin-top: 30px;
}    
.mydiv img{
    width: 100%;
    height: 450px;
}
.mybutton{
    text-decoration: none;
    background-color: hsl(9, 100%, 64%);
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    margin-top: 15px;
    border: none;
}
.mid_section{
    height: 400px;
    background-image: url(picture/7.png);
    background-repeat: no-repeat;
}
.mydiv1{
    width: 40%;
    margin-left: 6%;
    float: left;
}
.mydiv1 img{
    width: 100%;
    height: 350px;
}
.About_me{
    font-size: 40px;
    margin-top: 30px;
}
.ptag{
    margin-top: 40px;
}
.Contract_button{
    text-decoration: none;
    background-color: rgb(255, 99, 71);
    color: white;
    border-radius: 30px;
    margin-top: 50px;
    padding: 12px 20px;
    border: none;
}
.About_recipies{
    text-align: center;
    width: 45%;
    margin-left: 27%;
}
.last_section{
    width: 90%;
    margin-left: 5%;
    height: 400px;
}
.mydiv2{
    margin-top: 50px;
    width: 25%;
    height: 320px;
    margin-left: 6%;
    float: left;
    border-radius: 20px;
    padding: 7px;
    box-shadow: 5px 5px 10px 10px rgb(223, 219, 219);
   
}
.mydiv2 img{
    width: 100%;
    height: 180px; 
    border-radius: 20px;
}
.end_area{
    clear: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    text-align: center;
    height: 100px;
    box-shadow: 5px 5px 10px 10px rgb(229, 226, 226);
}
.mydiv3{
    float: left;
    width: 33%;
}

.final_div{
    text-align: center;
    margin-top: 80px;
    padding: 50px;
    background-color: rgb(39, 43, 61);
}
.food_text{
    color: tomato;
}
.final_div h1{
    color: gray;
}
.final_div h5{
    color: white;
}